.partnerlink {
  margin: 0;
  padding: 0;
  height: 38px;
  min-width: 672px;
  position: relative;
  z-index: 1000;
  -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  -ms-box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  -o-box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #eee;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e3e3e3));
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  background: -moz-linear-gradient(top, #f9f9f9, #e3e3e3);
  background: -ms-linear-gradient(top, #f9f9f9, #e3e3e3);
  background: -o-linear-gradient(top, #f9f9f9, #e3e3e3);
  background: linear-gradient(to bottom, #f9f9f9, #e3e3e3);
}

.partnerlinkcontainer {
  width: 1024px;
  height: 100%;
}



@media only screen and (max-width: 1024px) {
  .partnerlink {
    display: none;
  }
}