
  <div class="retro">
  </div><!--

  --><div class="row fronte"><div class="col-md-12">

    <div class="row avatar-nomecognome">
      <div class="col-md-2"><span class="glyphicon glyphicon-user avatar" aria-hidden="true"></span></div>
      <div class="col-md-10 nomecognome">MARIO ROSSI - ruolo in azienda</div>
    </div>

    <div class="row avatar-phone">
      <div class="col-md-2"><span class="glyphicon glyphicon-phone phone" aria-hidden="true"></span></div>
      <div class="col-md-10 nomecognome">+39 334 11 62 557</div>
    </div>

    <div class="row avatar-email">
      <div class="col-md-2"><span class="glyphicon glyphicon-envelope envelope" aria-hidden="true"></span></div>
      <div class="col-md-10 nomecognome">m.rossi@movieflakes.com</div>
    </div>
    
    <!--<div class="row socialrow"><div class="col-md-12">
      <div style="display: inline-block; width: 150px; background-color: lightblue;">
        <a class="btn btn-block btn-social btn-xs">
          <span class="glyphicon glyphicon-phone"></span> +39 334 11 62 557
        </a>
      </div>
      <div style="display: inline-block; width: 150px; background-color: lightgreen; margin-left: 15px;">
        <a class="btn btn-block btn-social btn-xs">
          <span class="glyphicon glyphicon-envelope"></span> m.rossi@movieflakes.com
        </a>
      </div>
    </div></div>
    
    <div class="row socialrow"><div class="col-md-12">
      <div style="display: inline-block; width: 150px; background-color: aqua;">
        <a class="btn btn-block btn-social btn-xs">
          <span class="glyphicon glyphicon-globe"></span> www.movieflakes.com
        </a>
      </div>
      <div style="display: inline-block; width: 150px; margin-left: 15px;">
        <a class="btn btn-block btn-social btn-xs btn-facebook">
          <span class="fa fa-facebook"></span> Movie Flakes
        </a>
      </div>
    </div></div>
    
    <div class="row socialrow"><div class="col-md-12">
      <div style="display: inline-block; width: 150px;">
        <a class="btn btn-block btn-social btn-xs btn-twitter">
          <span class="fa fa-twitter"></span> Movie Flakes
        </a>
      </div>
      <div style="display: inline-block; width: 150px; margin-left: 15px;">
        <a class="btn btn-block btn-social btn-xs btn-pinterest">
          <span class="fa fa-pinterest"></span> Movie Flakes
        </a>
      </div>
    </div></div>-->

  </div></div>
