<div id="mf-movie-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li *ngFor="let m of movies; let i = index;" data-target="#mf-movie-carousel" [attr.data-slide-to]="i" [class]="i==0 ? 'active':'nothing'"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div *ngFor="let m of movies; let i = index;" [class]="i==0 ? 'item active' : 'item'">
      <img [src]="getUrl(i)" [alt]="m.title">
      <div class="carousel-caption">
        <span>{{m.title}}</span>
      </div>
    </div>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#mf-movie-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#mf-movie-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->