<div [class]="getCol()">
    <a href="#" class="thumbnail" >
        <img [src]="item.images[0]">
        <div class="caption">
            <p>{{item.description}}</p>
            <p>{{item.price | currency : "EUR" : 2}}</p>
            <p>
                <a href="#" class="btn btn-primary btn-block" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> To Cart</a> 
                <a href="#" class="btn btn-default btn-block" role="button"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> To Wish-list</a>
            </p>
        </div>
    </a>
</div>