<div class="container mf-main-page">
    
    
    <mf-headerino></mf-headerino>
    <mf-header></mf-header>
    <mf-main-menu></mf-main-menu>
    <movie-carousel></movie-carousel>
    <!--<mf-orientation></mf-orientation>
    <mf-category-intro></mf-category-intro>-->
    <mf-item-filters></mf-item-filters>
    <mf-item-list></mf-item-list>
    <!--<mf-item-detail></mf-item-detail>
    <mf-socials></mf-socials>
    <mf-quick-menu></mf-quick-menu>
    <mf-footer></mf-footer>-->
    
    <br>
    <br>
    <br>
    <br>
</div>