<div class="mf-container">
    <div class="mf-page">
        
        <div class="mf-container">
            <div class="mf-row">
                <div class="logo-container">
                    <img src="app/images/mf2.png" class="logo">
                </div>
                <div class="search-container maxi-search">
                    <input type="text" class="search-input" placeholder="Cosa cerchi?"/>
                    <img src="app/images/magnify.jpg" class="search-lens">
                </div>

                <img src="app/images/cart.png" class="icons">
                <img src="app/images/likefacebook.jpg" class="icons">
                <img src="app/images/twitter.jpg" class="icons">
                <img src="app/images/instagram.jpg" class="icons">
            </div>
        </div>

        <div class="mf-container mini-search">
            <div class="mf-row">
                
                <div class="search-container">
                    <input type="text" class="search-input" placeholder="Cosa cerchi?"/>
                    <img src="app/images/magnify.jpg" class="search-lens">
                </div>

            </div>
        </div>

        <div class="mf-container mini-menu">
            <div class="mf-row">
                
                <a href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars mf-bars"></i></a>

            </div>
        </div>

        

        <div class="mf-container" style="position: relative;">
            <div class="mf-menu">

                <div class="menu-item-container w3-dropdown-hover"><span class="menu-item">FILM</span>
                
                    <div class="w3-dropdown-content w3-card-4" style="height: 300px; width: 800px; z-index: 1000;">
                        <div class="mf-container">
                            <div>ciao</div>
                        </div>
                    </div>
                
                </div>


                <div class="menu-item-container"><span class="menu-item">PRODOTTI</span></div>

                <div class="menu-item-container w3-dropdown-hover"><span class="menu-item">FILM</span>
                
                    <div class="w3-dropdown-content w3-card-4" style="position: absolute; right: 0px; z-index: 1000;">
                        <div class="mf-container">
                            <div>ciao</div>
                        </div>
                    </div>
                
                </div>
                <div class="menu-item-container"><span class="menu-item">NOVITA'</span></div>
                <div class="menu-item-container w3-dropdown-hover"><span class="menu-item">OFFERTE SPECIALI</span>

                    <div class="w3-dropdown-content w3-card-4" style="height: 300px; width: 800px; z-index: 1000;">
                        <div class="mf-container">
                            <div>ciao</div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="mf-container">
            <div class="carousel-container">
                <movie-carousel></movie-carousel>
            </div>
        </div>

   </div>
</div>